<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center" >
    <a href="/home"  type="submit" class="btn btn-outline-secondary button_nav">
        Home
    </a>
    <a  href="/fale_conosco" type="submit" class="btn btn-outline-secondary button_nav">
        Fale Conosco
    </a>
    <a href="/sobre_nos" type="submit" class="btn btn-outline-secondary button_nav">
        Sobre Nós
    </a>
    <a  href="/financie" type="submit" class="btn btn-outline-secondary button_nav">
        Financie
    </a>
</nav>