<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center" >
    <button  type="button" class="btn btn-outline-secondary button_nav">
        Home
    </button>
    <button  type="button" class="btn btn-outline-secondary button_nav">
        Fale Conosco
    </button>
    <a href="/sobre_nos" type="submit" class="btn btn-outline-secondary button_nav">
        Sobre Nós
    </a>
    <button  type="submit" class="btn btn-outline-secondary button_nav">
        Financie
    </button>
</nav>