<div>

    <div id="fundo_investidor">
        <h2 id="investidor" class="text-center">Investidores</h2>
    </div>

        <div id="fundo_carrossel">
            <div>
                <h1 id="investidor_1 investidores">Teste</h1>
            </div>
            <div>
                <h1 id="investidor_2 investidores">Teste</h1>
            </div>
            <div>
                <h1 id="investidor_3 investidores">Teste</h1>
            </div>
            <div id="barra"></div>
        </div>


</div>