<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>

        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/imperio.css">
        <meta charset="UTF-8">
        <title>Fale Conosco</title>
    </head>
    <body>
        <div th:insert="fragments/login.html"></div>
        <center><img src="/images/logo_menu.png" class="logo"></center>
        <div th:insert="fragments/menu.html"></div>
        <h1>Fale Conosco</h1>

        <h2>Endereço:</h2>
        <p>Rua São Bento, 700 - Sala 74, Centro - Araraquara/SP, 14801-300</p>
        <div>
            <form>
        <button type="submit" class="btn btn-outline-secondary">Veja como chegar</button>
            </form>
            <!--Google map-->
            <div id="map-container-google-2" class="z-depth-1-half map-container" style="height: 500px">
                <iframe src="https://maps.google.com/maps?q=manhatan&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
                        style="border:0" allowfullscreen></iframe>
            </div>

            <!--Google Maps-->
        </div>
        <h2>Entre em contato:</h2>
        <form th:Object="${fcn}" th:action="@{/fale_conosco}" method="post">
            <label for="nome" class="form-label">Nome:</label>
            <input type="text" class="form-control" id="nome" aria-describedby="nome" th:field="*{nomeCliente}"/>

            <label for="email" class="form-label">E-mail:</label>
            <input type="text" class="form-control" id="email" aria-describedby="email" th:field="*{emailCliente}"/>

            <label for="mensagem" class="form-label">Mensagem:</label>
            <input type="text" class="form-control" id="mensagem" aria-describedby="mensagem" th:field="*{mensagemCliente}"/>

            <label for="telefone" class="form-label">Telefone:</label>
            <input type="text" class="form-control" id="telefone" aria-describedby="telefone" th:field="*{telefoneCliente}"/>

            <button type="submit" class="btn btn-outline-secondary m-1">Enviar</button>
        </form>

        <div th:insert="fragments/rodape.html"></div>
    </body>
</html>