<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/imperio.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Pré-Cadastro de Imóveis</title>
</head>
<body>
<div th:insert="fragments/menu.html"></div>

<h1>Pré-Cadastro de Imóveis</h1>

<form th:Object="${pci}" th:Action="@{/cadastrar_pre_cadastro_imovel}" method="post">

    <div class="mb-3">
        <label for="nomeProprietario" class="form-label">Nome completo do proprietário:</label>
        <input type="text" class="form-control" id="nomeProprietario" aria-describedby="nomeProprietario" th:field="*{nomeProprietario}"/>

        <label for="email" class="form-label">E-mail:</label>
        <input type="text" class="form-control" id="email" aria-describedby="email" th:field="*{email}"/>

        <label for="telefone" class="form-label">Telefone:</label>
        <input type="text" class="form-control" id="telefone" aria-describedby="telefone" th:field="*{telefone}"/>

        <label for="whatsapp" class="form-label">Whatsapp:</label>
        <input type="text" class="form-control" id="whatsapp" aria-describedby="whatsapp" th:field="*{whats}"/>

    </div>

    <div class="mb-3">
        <label for="endereco" class="form-label">Endereço:</label>
        <input type="text" class="form-control" id="endereco" aria-describedby="endereco" th:field="*{endereco}"/>

        <label for="numero" class="form-label">Número:</label>
        <input type="text" class="form-control" id="numero" aria-describedby="numero" th:field="*{numero}"/>

        <label for="complemento" class="form-label">Complemento:</label>
        <input type="text" class="form-control" id="complemento" aria-describedby="complemento" th:field="*{complemento}"/>

        <label for="cidade" class="form-label">Cidade:</label>
        <input type="text" class="form-control" id="cidade" aria-describedby="cidade" th:field="*{cidade}"/>

        <div th:insert="fragments/UFS.html"></div>

    </div>

    <div>

        <label for="bairro" class="form-label">Bairro:</label>
        <input type="text" class="form-control" id="bairro" aria-describedby="bairro" th:field="*{bairro}"/>

        <label for="cep" class="form-label">CEP:</label>
        <input type="text" class="form-control" id="cep" aria-describedby="cep" th:field="*{cep}"/>

    </div>

    <div>

        <label>Você gostaria de:</label>

        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="vender" th:field="*{vender}">
            <label class="form-check-label" for="vender">Vender</label>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" th:field="*{alugar}">
            <label class="form-check-label" for="flexCheckDefault">Alugar</label>
        </div>

        <label for="tipo">Tipo de Imóvel:</label>
        <input name="tipos" list="tipos" Id="tipo" th:field="*{tipoImovel}"/>
        <datalist Id="tipos">
            <option value="Apartamento"></option>
            <option value="Casa"></option>
            <option value="Terreno"></option>
        </datalist>

    </div>

    <div>

        <button type="submit" class="btn btn-outline-secondary">Cadastrar</button>
        <button type="button" class="btn btn-outline-secondary">Cancelar</button>

    </div>



</form>

<div th:insert="fragments/rodape.html"></div>
</body>
</html>