<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/imperio.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Cadastro de investidores</title>
</head>
<body>
<div th:insert="fragments/menu.html"></div>
<h1>Cadastro imóvel</h1>
<form th:Object="${pci}" th:Action="@{/cadastrar}" method="post">
    <label>Nome completo do proprietário:</label>
    <input type="text" name="nomeProprietario" Id="nomeProprietario" th:field="*{nomeProprietario}">

    <label>Email::</label>
    <input type="text" name="email" Id="email" th:field="*{email}">

    <label>Telefone:</label>
    <input type="tel" name="telefone" Id="@{telefone}" th:field="*{telefone}">

    <label>Endereço:</label>
    <input type="text" name="endereco" Id="@{endereco}" th:field="*{endereco}">

    <label>Numero:</label>
    <input type="text" name="numero" Id="@{numero}" th:field="*{numero}">

    <label>Complemento:</label>
    <input type="text" name="complemento" Id="@{complemento}" th:field="*{complemento}">

    <label>Cidade:</label>
    <input type="text" name="cidade" Id="@{cidade}" th:field="*{cidade}">

    <label for="@{uf}">UF:</label>
    <input name="uf" Id="@{uf}" th:field="*{uf}">
    <datelist Id="@{uf}">
        <option value="AC"> Acre</option>
        <option value="AL"> Alagoas</option>
        <option value="AP"> Amapá</option>
        <option value="AM"> Amazonas</option>
        <option value="BA"> Bahia</option>
        <option value="CE"> Ceará</option>
        <option value="DF"> Distrito Federal</option>
        <option value="ES"> Espírito Santo</option>
        <option value="GO"> Goiás</option>
        <option value="MA"> Maranhão</option>
        <option value="MT"> Mato Grosso</option>
        <option value="MS"> Mato Grosso do Sul</option>
        <option value="MG"> Minas Gerais</option>
        <option value="PA"> Pará</option>
        <option value="PB"> Paraíba</option>
        <option value="PR"> Paraná</option>
        <option value="PE"> Pernambuco</option>
        <option value="PI"> Piauí</option>
        <option value="RJ"> Rio de Janeiro</option>
        <option value="RN"> Rio Grande do Norte</option>
        <option value="RS"> Rio Grande do Sul</option>
        <option value="RO"> Rondônia</option>
        <option value="RR"> Roraima</option>
        <option value="SC"> Santa Catarina</option>
        <option value="SP"> São Paulo</option>
        <option value="SE"> Sergipe</option>
        <option value="TO"> Tocantins</option>
    </datelist>

    <label>Bairro:</label>
    <input type="text" name="bairro">

    <label>CEP:</label>
    <input type="text" name="cep">

    <label>Você gostaria de:</label>
    <span>
            First checkbox
            <small class="d-block text-muted">With support text underneath to add more detail</small>
          </span>

    <button type="submit">Cadastrar</button>
    <button type="submit">Anexar imagem</button>
    <button type="submit">Cancelar</button>
</form>

<div th:insert="fragments/rodape.html"></div>
</body>
</html>